@model OnlineSinavSistemi.Models.Exam
@{
    ViewData["Title"] = "Sýnav Detaylarý";
    var katilimlar = ViewBag.Katilimlar as IEnumerable<OnlineSinavSistemi.Models.StudentExam>;
}

<h2>@Model.Baslik</h2>
<p>Ders: @Model.Course?.DersAdi</p>
<p>Süre: @Model.SureDakika dk</p>
<p>Baþlangýç: @Model.BaslangicTarihi.ToString("g")</p>
<p>Yayýn Durumu: @(Model.Yayinlandi ? "Yayýnlandý" : "Yayýnlanmadý")</p>

<h4>Katýlýmcýlar</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Öðrenci</th>
            <th>Baþlangýç</th>
            <th>Bitiþ</th>
            <th>Puan</th>
            <th>Tamamlandý</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var se in katilimlar)
        {
            <tr>
                <td>@se.Student.UserName</td>
                <td>@se.StartTime.ToString("g")</td>
                <td>@se.EndTime?.ToString("g")</td>
                <td>@se.Score</td>
                <td>@(se.Completed ? "Evet" : "Hayýr")</td>
            </tr>
        }
    </tbody>
</table>
