@model OnlineSinavSistemi.Models.Course
@{
    ViewData["Title"] = "Ders Detayları";
}

<h2>@Model.DersAdi</h2>

<h4>Öğrenciler</h4>
<ul>
    @foreach (var cs in Model.CourseStudents)
    {
        <li>@cs.Student.UserName</li>
    }
</ul>

<h4>Sınavlar</h4>
<ul>
    @foreach (var exam in Model.Exams)
    {
        <li>
            <a asp-controller="Exam" asp-action="Details" asp-route-id="@exam.Id">@exam.Baslik</a>
            (@exam.Yayinlandi ? "Yayınlandı" : "Yayınlanmadı")
        </li>
    }
</ul>
